.sidebar {
  width: 240px;
  height: 100vh;
  background: #002b67;
  padding: 20px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 18px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.sidebar ul li a:hover {
  color: #ffca28;
}

.logout-btn {
  margin-top: 40px;
  width: 100%;
  padding: 10px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}
